.contact-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .medias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;

    .media {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 1;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      animation: opacity .3s;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;
        cursor: pointer;
        font-size: 25px;
      }

      .name,
      .account {
        width: 100%;
        font-size: 14px;
        font-family: "Helvetica Neue";
        font-weight: lighter;
        text-align: center;
        padding-top: 5px;
        transition: .3s;
        opacity: 0;
      }

      &:hover {
        .name,
        .account {
          opacity: 1;
        }
      }
    }
  }
}

@keyframes opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}