.contact-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .2) inset;
  opacity: 0;

  &.active {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2) inset;
    opacity: 1;
    animation: shadow .5s;
  }

  .medias {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;

    .media {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex: 1;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px;
        cursor: pointer;
        font-size: 25px;
      }

      .name,
      .account {
        width: 100%;
        font-size: 14px;
        font-family: "Helvetica Neue";
        font-weight: lighter;
        text-align: center;
        padding-top: 5px;
        transition: .3s;
        opacity: 0;
      }

      &:hover {
        .name,
        .account {
          opacity: 1;
        }
      }
    }
  }
}

@keyframes shadow {
  0%{
    opacity: 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, .2) inset;
  }
  100%{
    opacity: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2) inset;
  }
}