<div class="home-component" ng-controller="homeCtrl">
    <div class="front">
        <img class="logo" src="assets/gif/tocausan.gif" alt="tocausan">
    </div>

    <div class="back">
        <div class="title">
            <p>TOCAUSAN</p>
        </div>
        <div class="cube-inception" ng-include="cubeInception"></div>
    </div>
    <div class="direction top icon-arrow-up" ng-click="move($event, 'top')"></div>
    <div class="direction right icon-arrow-right" ng-click="move($event, 'right')"></div>
    <div class="direction bottom icon-arrow-down" ng-click="move($event, 'bottom')"></div>
    <div class="direction left icon-arrow-left" ng-click="move($event, 'left')"></div>
</div>