@import url('https://fonts.googleapis.com/css?family=Sanchez');

$sanchez_font: 'Sanchez', serif;


html,
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: $sanchez_font;
  overflow: hidden;

  section{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :focus {
    outline: 0;
  }

  ::-webkit-scrollbar{
    display: none;
  }
}



