@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway');

$playfair_display_font: 'Playfair Display', serif;
$raleway_font: 'Raleway', sans-serif;

html,
body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: $raleway_font;

  section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



