<div class="skill-component" ng-controller="skillsCtrl">
    <div class="title" ng-bind="'Languages'"></div>
    <div class="languages">
        <div class="language">
            <div class="detail"></div>
            <div class="detail" ng-bind="'speaking'"></div>
            <div class="detail" ng-bind="'reading'"></div>
            <div class="detail" ng-bind="'writing'"></div>
        </div>
        <div class="language" ng-repeat="language in languages">
            <div class="detail" ng-bind="language.name"></div>
            <div class="detail">
                <svg class="language-svg">
                    <rect x="0" y="5" width="20" height="10px"></rect>
                </svg>
            </div>
            <div class="detail">
                <svg class="language-svg">
                    <rect x="0" y="5" width="20" height="10px"></rect>
                </svg>
            </div>
            <div class="detail">
                <svg class="language-svg">
                    <rect x="0" y="5" width="20" height="10px"></rect>
                </svg>
            </div>
        </div>
    </div>
</div>