.cube-inception-component {
  width: 100%;
  height: 100%;
  z-index: 9;
  position: absolute;
  transition: .5s;
  overflow: hidden;

  $size-0: 50px;
  $size-1: 100px;
  $size-2: 200px;
  $size-3: 400px;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .cube-0,
    .cube-1 {
      position: absolute;
      animation-timing-function: linear;
      transform-style: preserve-3d;

      .face {
        width: 100%;
        height: 100%;
        position: absolute;
        line-height: 100px;
        text-align: center;
        font-size: 80px;
        opacity: 0.3;
        border: 1px solid papayawhip;
      }
    }

    .cube-0 {
      width: $size-0;
      height: $size-0;
      animation: rotation-0 10s linear infinite;

      .face {
        width: $size-0;
        height: $size-0;
      }
      .face-1 {
        transform: translateZ(calc(#{$size-0} / 2));
      }
      .face-2 {
        transform: translateZ(-0px) translateX(0px) translateX(calc(#{$size-0} / 2)) rotateY(90deg);
      }
      .face-3 {
        transform: translateZ(-0px) translateX(-0px) translateX(calc(-#{$size-0} / 2)) rotateY(-90deg);
      }
      .face-4 {
        transform: translateZ(-0px) translateY(calc(#{$size-0} / 2)) rotateX(calc(-90deg));
      }
      .face-5 {
        transform: translateZ(-0px) translateY(calc(-#{$size-0} / 2)) rotateX(90deg);
      }
      .face-6 {
        transform: translateZ(calc(-#{$size-0} / 2));
      }
    }

    .cube-1 {
      width: $size-1;
      height: $size-1;
      animation: rotation-1 10s linear infinite;

      .face {
        width: $size-1;
        height: $size-1;
      }
      .face-1 {
        transform: translateZ(calc(#{$size-1} / 2));
      }
      .face-2 {
        transform: translateZ(-0px) translateX(0px) translateX(calc(#{$size-1} / 2)) rotateY(90deg);
      }
      .face-3 {
        transform: translateZ(-0px) translateX(-0px) translateX(calc(-#{$size-1} / 2)) rotateY(-90deg);
      }
      .face-4 {
        transform: translateZ(-0px) translateY(calc(#{$size-1} / 2)) rotateX(calc(-90deg));
      }
      .face-5 {
        transform: translateZ(-0px) translateY(calc(-#{$size-1} / 2)) rotateX(90deg);
      }
      .face-6 {
        transform: translateZ(calc(-#{$size-1} / 2));
      }
    }

  }

  @keyframes rotation-0 {
    from {
      transform-origin: 50% 50%;
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    }
    to {
      transform-origin: 50% 50%;
      transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg)
    }
  }
  @keyframes rotation-1 {
    from {
      transform-origin: 50% 50%;
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    }
    to {
      transform-origin: 50% 50%;
      transform: rotateX(360deg) rotateY(0deg) rotateZ(360deg)
    }
  }

}
